.feedback {
    border:1px solid;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ffffff;
    padding: 20px 35px;
    border-radius: 35px;
    z-index: 9998;
    font-weight: 400;
    cursor: pointer;
    /*display: none;*/
}

.teleton-chat-container {
    right: -100%;
    min-height: 500px;
    position: fixed;
    bottom: 30px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    border: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    z-index: 999999;
    transition: all 0.5s;
}

.teleton-chat-container.show {
    right: 30px;
}

.teleton-chat-container iframe {
    height: 510px;
    width: 100%;
    border: none;
}

.teleton-chat-head {
    padding: 20px;
    border-bottom: 1px solid #e0e6eb;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 11fr 1fr;
}
.teleton-chat-head .tch-close {
    cursor:pointer;
    text-align: right;
}